absl-py==2.1.0
accelerate==1.1.1
aeiou==0.0.20
aiobotocore==2.15.2
aiodns==3.2.0
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools==0.12.0
aiosignal==1.3.1
alias-free-torch==0.0.6
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.6.2.post1
appdirs==1.4.4
appnope==0.1.4
argbind==0.3.9
argparse==1.4.0
asttokens==2.4.1
attrs==23.2.0
audioread==3.0.1
audioset-download==1.0
auraloss==0.4.0
automat==22.10.0
babel==2.15.0
bangla==0.0.2
beartype==0.18.5
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
bokeh==3.6.1
botocore==1.35.36
braceexpand==0.1.7
catalogue==2.0.10
ccxt==4.3.62
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
cloudpathlib==0.18.1
cloudpickle==3.0.0
cmdstanpy==1.2.4
colorcet==3.1.0
comm==0.2.2
confection==0.1.5
configparser==7.1.0
constantly==23.10.4
contourpy==1.2.1
coqpit==0.0.17
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.8
cython==3.0.10
dateparser==1.1.8
dctorch==0.1.2
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.31.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring-parser==0.16
einops-exts==0.0.4
einops==0.7.0
ema-pytorch==0.2.3
encodec==0.1.1
executing==2.0.1
fastapi==0.115.4
fastcore==1.7.19
ffmpy==0.4.0
filelock==3.15.4
fire==0.7.0
flask-cors==4.0.1
flask==3.0.3
flatten-dict==0.4.2
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.10.0
ftfy==6.3.1
future==1.0.0
g2pkk==0.1.2
gin-config==0.5.0
gitdb==4.0.11
gitpython==3.1.43
gradio-client==1.4.2
gradio==5.5.0
grpcio==1.64.1
gruut-ipa==0.13.0
gruut-lang-de==2.0.1
gruut-lang-en==2.0.1
gruut-lang-es==2.0.1
gruut-lang-fr==2.0.2
gruut==2.2.3
gym-notices==0.0.8
gym==0.26.2
h11==0.14.0
h5py==3.12.1
hangul-romanize==0.1.0
holidays==0.52
holoviews==1.20.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
hyperlink==21.0.0
idna==3.7
imageio==2.36.0
importlib-metadata==8.5.0
importlib-resources==5.12.0
incremental==22.10.0
inflect==7.3.1
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jamo==0.4.1
jaxtyping==0.2.34
jedi==0.19.1
jieba==0.42.1
jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==1.2.0
jsonmerge==1.9.2
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
julius==0.2.7
jupyter-client==8.6.2
jupyter-core==5.7.2
k-diffusion==0.1.1
kaggle==1.6.17
kiwisolver==1.4.5
kornia-rs==0.1.7
kornia==0.7.4
laion-clap==1.1.4
langcodes==3.4.0
language-data==1.2.0
lazy-loader==0.4
librosa==0.9.2
lightning-utilities==0.11.8
linkify-it-py==2.0.3
llvmlite==0.43.0
local-attention==1.8.6
marisa-trie==1.2.0
markdown-it-py==3.0.0
markdown2==2.5.1
markdown==3.6
markupsafe==2.1.5
matplotlib-inline==0.1.7
matplotlib==3.9.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
mutagen==1.47.0
nest-asyncio==1.6.0
networkx==2.8.8
nltk==3.8.1
nnaudio==0.3.3
num2words==0.5.13
numba==0.60.0
numpy==1.23.5
opencv-python==4.10.0.84
orjson==3.10.7
packaging==24.1
pandas==2.0.2
panel==1.5.3
param==2.1.1
parso==0.8.4
pathtools==0.1.2
patsy==0.5.6
pedalboard==0.7.4
pexpect==4.9.0
pillow==10.4.0
pip==24.2
platformdirs==4.2.2
plotly==5.24.1
pooch==1.8.2
prefigure==0.0.9
preshed==3.0.9
progressbar==2.5
prompt-toolkit==3.0.47
prophet==1.1.5
protobuf==3.19.6
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyaudio==0.2.14
pycares==4.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic-core==2.20.1
pydantic==2.8.2
pydub==0.25.1
pygments==2.18.0
pyloudnorm==0.1.1
pynndescent==0.5.13
pyparsing==3.1.2
pypinyin==0.51.0
pysbd==0.3.4
pystoi==0.4.1
python-binance==1.0.19
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python-slugify==8.0.4
pytorch-lightning==2.1.0
pytorch-warmup==0.1.1
pytz==2024.1
pyviz-comms==3.0.3
pywavelets==1.4.1
pyyaml==6.0.1
pyzmq==26.0.3
randomname==0.2.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
resampy==0.4.3
rich==13.7.1
rotary-embedding-torch==0.8.4
rpds-py==0.21.0
ruff==0.7.3
s3fs==2024.10.0
safehttpx==0.1.1
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==68.1.2
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
soundfile==0.10.2
soupsieve==2.6
soxr==0.3.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.5
srsly==2.4.8
stable-audio-tools==0.0.16
stack-data==0.6.3
stanio==0.5.1
starlette==0.41.2
statsmodels==0.14.3
sudachidict-core==20240409
sudachipy==0.6.8
supervision==0.25.0
sympy==1.12.1
tenacity==9.0.0
tensorboard-data-server==0.7.2
tensorboard==2.17.0
tensordict==0.5.0
termcolor==2.5.0
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.9.20
timm==1.0.11
tokenizers==0.19.1
tomlkit==0.12.0
torch-stoi==0.2.3
torch==2.4.1
torchaudio==2.4.1
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchrl==0.5.0
torchsde==0.2.6
torchsummary==1.5.1
torchtyping==0.1.5
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.4
trainer==0.0.36
traitlets==5.14.3
trampoline==0.1.2
transformers==4.42.4
tts==0.22.0
twisted==24.3.0
typeguard==2.13.3
typer==0.12.3
typing-extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
umap-learn==0.5.6
unidecode==1.3.8
urllib3==2.2.2
uvicorn==0.32.0
v-diffusion-pytorch==0.0.2
vastai==0.2.6
vector-quantize-pytorch==1.9.14
wandb==0.15.4
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webdataset==0.2.48
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
werkzeug==3.0.3
wget==3.2
wheel==0.41.2
whisper==1.1.10
wrapt==1.16.0
x-transformers==1.26.6
xyzservices==2024.9.0
yarl==1.9.4
yt-dlp==2024.12.3
zipp==3.20.2
zope.interface==6.4.post2